@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  color: #212121;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  outline-offset: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

footer,
.hero {
  background-color: #2f303a;
}

.nav:hover,
.nav:focus,
.link:hover,
.link:focus {
  color: #2196f3;
}

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1786;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

* {
  padding: 0;
  margin: 0;
  color: #212121;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  outline-offset: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

footer,
.hero {
  background-color: #2f303a;
}

.nav:hover,
.nav:focus,
.link:hover,
.link:focus {
  color: #2196f3;
}

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1786;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

button {
  outline: none;
  border: none;
}

button:active, button:focus {
  outline: none;
  border: none;
}

.submit-button, .hero-section .button, footer .hero-btn {
  display: inline-block;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  text-align: center;
  color: #fff;
  background-color: #2196f3;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover, .hero-section .button:hover, footer .hero-btn:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: 1px solid transparent;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
}

.button:hover {
  background: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.logo, .logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6667;
  letter-spacing: 0.03em;
}

.backdrop, .form-input, .submit-button, .social-link, .partners-list-item, .social-link-footer, footer .hero-btn, .card-container .card-element, .card-img, .card-img .overlay {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom: 1px solid #ececec;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo span {
  color: #212121;
}

.contacts-list {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    margin-top: 0;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .contacts-list .contacts-item + .contacts-item {
    margin-left: 50px;
  }
}

.contacts.link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.contacts.link:first-child {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .contacts.link:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts.link:first-child {
    margin-bottom: 0px;
  }
}

.contacts.link:hover, .contacts.link:focus {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  color: #2196f3;
}

.contacts.link:hover .contacts-svg,
.contacts.link:focus .contacts-svg {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  fill: #2196f3;
}

.contacts.link .contacts-svg {
  margin-right: 4px;
}

@media screen and (min-width: 768px) {
  .contacts.link .contacts-svg {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts.link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1230px) {
  .contacts.link {
    font-size: 14px;
  }
}

.contacts-svg {
  fill: #757575;
  margin-right: 3px;
}

@media screen and (min-width: 768px) {
  .contacts-svg {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 10px;
    border: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button {
  background-color: transparent;
}

.burger-menu .icon-cross {
  display: none;
}

.burger-menu.is-open .icon-menu {
  display: none;
}

.burger-menu.is-open .icon-cross {
  display: block;
  fill: #212121;
}

.burger-menu.is-open .icon-cross:hover, .burger-menu.is-open .icon-cross:focus {
  fill: #2196f3;
}

.menu-button:hover .icon-cross,
.menu-button:hover .icon-menu {
  fill: #2196f3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu-button {
  margin-left: auto;
  background-color: inherit;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.menu-button:focus .menu-button,
.menu-button:hover .menu-button {
  fill: #2196f3;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 50;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu-container.is-open {
  display: block;
}

.menu-container .menu-item + .menu-item {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .menu-container .menu-item + .menu-item {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 14px;
  }
}

.link:hover, .link:focus {
  color: #2196f3;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.link.current {
  color: #2196f3;
}

.link.current {
  display: inline-block;
  position: relative;
}

.link.current::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .link.current::after {
    margin-top: 42px;
  }
}

.link.current:hover::after {
  width: 100%;
}

.menu-list {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    margin-left: 88px;
  }
  .menu-list .menu-item + .menu-item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-list {
    margin-left: 93px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  overflow: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
  z-index: 99;
}

.modal {
  position: absolute;
  min-width: 450px;
  max-height: 609px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 20px;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-animation: open-close 200ms;
          animation: open-close 200ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  margin-top: 50px;
  margin-top: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes open-close {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes open-close {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.close-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  fill: #212121;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.close-btn:hover .close-svg,
.close-btn:focus .close-svg {
  fill: #2196f3;
}

/* === FORM === */
input:hover,
input:focus,
input:hover + .modal-svg,
input:focus + .modal-svg,
textarea:hover,
textarea:focus {
  border-color: #2196f3;
  fill: #2196f3;
  outline: none;
}

/* Оставьте свои данные, мы вам перезвоним */
.group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 0 auto;
  margin-left: auto;
  margin-bottom: 12px;
}

/* P секция для ввода*/
.form {
  /* надпись над полем ввода*/
  /* поле ввода*/
}

.form-field {
  position: relative;
  margin: 0;
}

.form-field:last-child {
  text-align: center;
}

.form-label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  min-height: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 10px;
}

.form-input:hover, .form-input:focus {
  border-color: #2196f3;
  fill: #2196f3;
  outline: none;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  fill: #2196f3;
  border-color: #2196f3;
  color: #2196f3;
  cursor: pointer;
  outline: none;
}

/* svg */
.modal-svg {
  position: absolute;
  top: 32px;
  left: 15px;
  width: 12px;
  height: 12px;
  fill: #212121;
}

/*чтобы пользователь не увеличил поле*/
.textarea-input {
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(117, 117, 117, 0.5);
}

.textarea-input:hover, .textarea-input:focus {
  border-color: #2196f3;
  fill: #2196f3;
  outline: none;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  overflow: hidden;
  outline: none;
  border: none;
  margin-top: 4px;
}

.checkbox::before {
  content: '';
  display: inline-block;
  border: 1px solid #a39e9e;
  border-radius: 4px;
  width: 16px;
  height: 15px;
  background-color: transparent;
  vertical-align: baseline;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox::after {
  position: absolute;
  left: 0px;
  content: '';
  border-radius: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/SVG/icon-check.svg);
  -webkit-transform: translatey(35px);
          transform: translatey(35px);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked::after {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 23px;
}

.contract u {
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: underline;
}

.checkbox-icon {
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 4px;
}

.checkbox:checked + .icon {
  background-image: url(../images/SVG/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 2px solid #2196f3;
  border: none;
}

.submit {
  text-align: center;
  margin-top: 30px;
}

.submit-button {
  min-width: 200px;
  min-height: 50px;
  display: inline-block;
  padding: 10px 32px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.submit-button:hover, .submit-button:focus {
  color: #212121;
}

/* === END CHECKBOX ===*/
.hero-section {
  width: 100%;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
}

.hero-section .button {
  min-width: 200px;
  min-height: 50px;
}

.hero-heading {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .hero-heading {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

/* !=== FEATURES===*/
.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 226px;
  background: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 30px) / 2);
  }
  .features-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: calc((100% - 90px) / 4);
  }
  .features-item:not(:last-child) {
    margin-right: 30px;
  }
}

.features-item:nth-child(1)::before {
  background-image: url(../images/features/tv-table.svg);
  display: block;
  content: '';
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.features-item:nth-child(2)::before {
  background-image: url(../images/features/clock.svg);
  display: block;
  content: '';
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.features-item:nth-child(3)::before {
  background-image: url(../images/features/computer.svg);
  display: block;
  content: '';
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.features-item:nth-child(4)::before {
  background-image: url(../images/features/astronaut.svg);
  display: block;
  content: '';
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title {
  font-weight: 700;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .title {
    text-align: left;
  }
}

.title-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* !=== WORK ===*/
@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.work-section {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .work-section {
    display: block;
  }
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list .work-item + .work-item {
  margin-left: 30px;
}

.work-item {
  position: relative;
}

.work-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-item {
  width: 100%;
  height: 622px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
  .team-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-item img {
  width: 100%;
  height: 460px;
  margin-bottom: 30px;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team .profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.social-list {
  width: 206px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-bottom: 24px;
}

.social-item svg {
  fill: #757575;
}

.social-section {
  width: 206px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
  width: 44px;
  height: 44px;
  fill: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.social-link:hover, .social-link:focus,
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #fff;
  border: 1px solid #2196f3;
  background-color: #2196f3;
}

.social-link .social-icon {
  fill: #AFB1B8;
}

.partners-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.partners-section .heading {
  text-align: center;
  margin-bottom: 50px;
}

.partners-section .partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc((100% - 30px) / 2);
  height: 90px;
  margin-bottom: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.partners-list-item:nth-child(odd) {
  margin-right: 30px;
}

.partners-list-item:hover {
  border-color: #2196f3;
}

.partners-list-item:hover .partners {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .partners-list-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .partners-list-item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1230px) {
  .partners-list-item {
    width: calc((100% - 150px) / 6);
  }
  .partners-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.partners-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners {
  fill: #afb1b8;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .wrapper:not(:last-child) {
    width: calc((100% - 30px) / 2);
  }
  .wrapper:last-child {
    width: 100%;
  }
}

@media screen and (min-width: 1230px) {
  .wrapper:not(:last-child) {
    width: calc((50% - 45px) / 2);
  }
  .wrapper:last-child {
    width: 50%;
    margin-right: 0;
    margin-left: auto;
  }
}

.logo-footer {
  color: #2196f3;
}

.logo-footer span {
  color: #fff;
}

.footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .tablet-container {
    text-align: left;
  }
}

.address-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
}

.address-link.map {
  color: #fff;
  margin-top: 20px;
}

.join-us-section {
  width: 206px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .join-us-section {
    margin: 0;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .join-us-section {
    text-align: left;
  }
}

.join-us-title {
  width: 206px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-section-footer {
  width: 206px;
  max-height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.social-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
}

.social-link-footer:hover, .social-link-footer:focus,
.social-link-footer:hover .social-icon,
.social-link-footer:focus .social-icon {
  fill: #fff;
  border: 1px solid #2196f3;
  background-color: #2196f3;
}

.social-link-footer .social-icon-footer {
  fill: #fff;
}

strong {
  display: inline-block;
  text-transform: uppercase;
}

.subscription {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #fff;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-top: 15px;
    text-align: left;
  }
}

.subscription .colortext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #fff;
  background-color: #2f303a;
  padding-left: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscription .colortext {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.subscription-title {
  min-width: 206px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

footer .hero-btn img {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
  }
  .colortext {
    margin-bottom: 0;
  }
}

/* === BUTTON === */
.portfolio-main .container .btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-main .container .btn-item {
  margin-right: 8px;
  background: #F5F4FA;
  border-radius: 4px;
}

.portfolio-main .container .btn-item:nth-child(n-3) {
  margin-bottom: 15px;
}

.portfolio-main .container .btn-item:hover .button, .portfolio-main .container .btn-item:focus .button {
  background: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  background-color: #F5F4FA;
  color: #212121;
}

/* === PORTFOLIO ===*/
.portfolio-main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-container .card-element {
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-container .card-element:hover, .card-container .card-element:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-container .card-element:hover .overlay,
.card-container .card-element:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  overflow: hidden;
}

.card-container .card-element:nth-child(3n) {
  margin-right: 0px;
}

.card-container .card-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card-img {
  width: 100%;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.card-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  padding: 63px 24px;
}

.card-img .overlay-text {
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #fff;
}

.card-img img {
  width: 100%;
}

.card-title {
  display: inline;
  margin: 20px 24px;
}

.card-title .img {
  padding-left: 24px;
  width: 100%;
}

.card-title .img-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  margin: 0px auto;
}

.card-title .img-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
}
/*# sourceMappingURL=main.css.map */