@charset "UTF-8";
* {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

img {
  display: block;
}

.header-section .container {
  height: 60px;
  position: relative;
  outline: 1px solid pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .modal {
  position: absolute;
  display: none;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: indianred;
  height: 393px;
  text-align: center;
}

.header-section .modal-link {
  display: block;
}

.header-section .modal .is-hidden {
  display: block;
}

.header-section .logo span {
  color: #212121;
}

.header-section .header-menu {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  outline: 1px solid red;
}

.header-section .header-menu-burger {
  position: absolute;
  padding: auto;
  width: 40px;
  height: 40px;
}

.header-section .header-menu-close {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
}

.header-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
}

.button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* !===  МОДАЛЬНОЕ ОКНО ===*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
  overflow: auto;
}

.backdrop.is-hidden {
  /* должен быть 0 - прозрачный*/
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
}

.modal {
  position: absolute;
  min-width: 528px;
  max-height: 581px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 20px;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-animation: open-close 200ms;
          animation: open-close 200ms;
}

@-webkit-keyframes open-close {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes open-close {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.backdrop.is-hidden .modal {
  opacity: 0;
  margin-top: 50px;
  margin-top: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* кнопка Х */
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  fill: #000;
}

.close-btn:hover .close-svg,
.close-btn:focus .close-svg {
  fill: var(--accent-color);
}

/* ===  КОНЕЦ МОДАЛЬНОГО ОКНА  ===*/
/* === FORM === */
input:hover,
input:focus,
input:hover + .modal-svg,
input:focus + .modal-svg,
textarea:hover,
textarea:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  outline: none;
}

/* Оставьте свои данные, мы вам перезвоним */
.group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding: 0 auto;
  margin-left: auto;
  margin-bottom: 12px;
}

/* P секция для ввода*/
.form-field {
  position: relative;
  margin: 0;
}

.form-field:last-child {
  text-align: center;
}

/* надпись над полем ввода*/
.form-label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

/* поле ввода*/
.form-input {
  width: 100%;
  min-height: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--major-text-color);
  margin-bottom: 10px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* svg */
.modal-svg {
  position: absolute;
  top: 32px;
  left: 15px;
  width: 12px;
  height: 12px;
  fill: #212121;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  fill: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

/*чтобы пользователь не увеличил поле*/
.textarea-input {
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(117, 117, 117, 0.5);
}

.textarea-input:focus,
.textarea-input:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  overflow: hidden;
  outline: none;
  border: none;
  margin-top: 4px;
}

.checkbox::before {
  content: '';
  display: inline-block;
  border: 1px solid #a39e9e;
  border-radius: 4px;
  width: 16px;
  height: 15px;
  background-color: transparent;
  vertical-align: baseline;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .checkbox:hover::before{
  transform: translatey(-35px);
} */
.checkbox::after {
  position: absolute;
  left: 0px;
  content: '';
  border-radius: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/SVG/icon-check.svg);
  -webkit-transform: translatey(35px);
          transform: translatey(35px);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked::after {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.checkbox-text,
.contract {
  width: 400px;
  height: 24px;
  left: 612px;
  top: 658px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 23px;
}

/* === END CHECKBOX ===*/
.contract-title {
  margin-bottom: 30px;
}

a.contract {
  margin: 0;
  color: var(--accent-color);
}

.submit {
  text-align: center;
  margin-top: 30px;
}

.form-input:focus,
.form-input:hover,
textarea:focus,
textarea:hove,
.checkbox:checked,
.checkbox:focus {
  border-color: var(--accent-color);
}

/* ===CHECKBOX ===*/
/*  .checkbox{
  -webkit-appearance: none;
  position: absolute;
} */
.label {
  position: relative;
  top: 0;
  left: 0;
  display: inline;
}

.checkbox-icon {
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 4px;
}

.checkbox:checked + .icon {
  background-image: url(../images/SVG/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 2px solid var(--accent-color);
  border: none;
}

/* === END CHECKBOX ===*/
/* === END FORM ===*/
/* !=== FEATURES===*/
.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-list {
  text-align: center;
}

.features-item {
  text-align: center;
  width: 450px;
}

.features-item:nth-child(1)::before {
  display: block;
  content: '';
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/features/tv-table.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.features-item:nth-child(2)::before {
  display: block;
  content: '';
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/features/clock.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.features-item:nth-child(3)::before {
  display: block;
  content: '';
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/features/computer.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.features-item:nth-child(4)::before {
  display: block;
  content: '';
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/features/astronaut.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  text-align: center;
}

.title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 10px;
}

.title-text:not(:last-child) {
  margin-bottom: 30px;
}

/* !=== TEAM ===*/
.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

/* .team-list {
    display: flex;

} */
.team-item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  width: 450px;
  min-height: 428px;
  margin-bottom: 30px;
}

.team.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team.profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  margin-bottom: 16px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  height: 44px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}

.social-link,
.social-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
  width: 44px;
  height: 44px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:last-child),
.social-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer {
  fill: #ffffff;
}

.social-link:hover,
.social-link:focus,
.social-link:hover .social-icon,
.social-link:focus .social-icon,
.social-link-footer:hover,
.social-link-footer:focus,
.social-link-footer:hover .social-icon,
.social-link-footer:focus .social-icon {
  fill: #ffffff;
  border: 1px solid #2196f3;
  background-color: #2196f3;
}

/* === PARTNERS ===*/
.partner-heading {
  text-align: center;
  margin-bottom: 30px;
}

.partner-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -30px;
}

/*a*/
.partner-logo {
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*li*/
.partner-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px;
}

.partner-logo:hover,
.partner-logo:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.partner {
  display: block;
  margin: 22px auto;
}

.partners-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*=== END PARTNERS ===*/
/* !Footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo span {
  color: #ffffff;
}

.footer .container {
  text-align: center;
}

.footer .logo span {
  color: #ffffff;
}

.address-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.address-link.map {
  color: #ffffff;
  margin-top: 20px;
}

.footer-title {
  width: 145px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-section {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 12px;
}

.social-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-section-footer {
  width: 206px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icon-footer {
  fill: #ffffff;
}

.social-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.1);
}

strong {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
}

.subscription {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 12px;
}

/*   outline: 1 px solid red;
 */
.subscription-form {
  text-align: center;
}

.subscription-form .colortext {
  display: inline-block;
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: 1 px solid red;
}

.colortext {
  background-color: #2f303a;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

footer .hero-btn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 62px 10px 29px;
  vertical-align: middle;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  -webkit-transform: translate 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
          transform: translate 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

footer .hero-btn img {
  margin-left: 10px;
}

/* ===END FOOTER ===*/
* {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

body {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  outline-offset: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

li {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

button {
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer,
.hero {
  background-color: #2f303a;
}

button {
  outline: none;
  border: none;
}

button:active, button:focus {
  outline: none;
  border: none;
}

.nav:hover,
.nav:focus,
.link:hover,
.link:focus {
  color: #2196f3;
}

.header-section .logo, .footer .logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-section .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .header-section .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .header-section .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .header-section .container {
    width: 1200px;
  }
}

.backdrop, .form-input {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-section {
  height: 60px;
  border-bottom: 1px solid #ececec;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  overflow: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
}

.modal {
  position: absolute;
  min-width: 528px;
  max-height: 581px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 20px;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-animation: open-close 200ms;
          animation: open-close 200ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  margin-top: 50px;
  margin-top: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@keyframes open-close {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.close-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  fill: #212121;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.close-btn:hover .close-svg,
.close-btn:focus .close-svg {
  fill: #2196f3;
}

/* === FORM === */
input:hover,
input:focus,
input:hover + .modal-svg,
input:focus + .modal-svg,
textarea:hover,
textarea:focus {
  border-color: #2196f3;
  fill: #2196f3;
  outline: none;
}

/* Оставьте свои данные, мы вам перезвоним */
.group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 0 auto;
  margin-left: auto;
  margin-bottom: 12px;
}

/* P секция для ввода*/
.form {
  /* надпись над полем ввода*/
  /* поле ввода*/
}

.form-field {
  position: relative;
  margin: 0;
}

.form-field:last-child {
  text-align: center;
}

.form-label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  min-height: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 10px;
}

.form-input:hover, .form-input:focus {
  border-color: #2196f3;
  fill: #2196f3;
  outline: none;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  fill: #2196f3;
  border-color: #2196f3;
  color: #2196f3;
  cursor: pointer;
  outline: none;
}

/* svg */
.modal-svg {
  position: absolute;
  top: 32px;
  left: 15px;
  width: 12px;
  height: 12px;
  fill: #212121;
}

/*чтобы пользователь не увеличил поле*/
.textarea-input {
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(117, 117, 117, 0.5);
}

.textarea-input:hover, .textarea-input:focus {
  border-color: #2196f3;
  fill: #2196f3;
  outline: none;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  overflow: hidden;
  outline: none;
  border: none;
  margin-top: 4px;
}

.checkbox::before {
  content: '';
  display: inline-block;
  border: 1px solid #a39e9e;
  border-radius: 4px;
  width: 16px;
  height: 15px;
  background-color: transparent;
  vertical-align: baseline;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox::after {
  position: absolute;
  left: 0px;
  content: '';
  border-radius: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/SVG/icon-check.svg);
  -webkit-transform: translatey(35px);
          transform: translatey(35px);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked::after {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.checkbox-text {
  width: 400px;
  height: 24px;
  left: 612px;
  top: 658px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 23px;
}

.contract {
  width: 400px;
  height: 24px;
  left: 612px;
  top: 658px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 23px;
}

.contract-title {
  margin-bottom: 30px;
}

a .contract {
  margin: 0;
  color: #2196f3;
}

.checkbox-icon {
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 4px;
}

.checkbox:checked + .icon {
  background-image: url(../images/SVG/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 2px solid #2196f3;
  border: none;
}

/* === END CHECKBOX ===*/
/*# sourceMappingURL=main.css.map */