/* !=== FEATURES===*/
.features {
  &-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &-item {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 226px;
    background: #ffffff;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
      &:nth-child(odd) {
        margin-right: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
      font-size: 14px;
      line-height: 1.1429;
      letter-spacing: 0.03em;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &:nth-child(1)::before {
      background-image: url(../images/features/tv-table.svg);
      display: block;
      content: '';
      width: 100%;
      height: 120px;
      background-color: $team-bg;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:nth-child(2)::before {
      background-image: url(../images/features/clock.svg);
      display: block;
      content: '';
      width: 100%;
      height: 120px;
      background-color: $team-bg;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:nth-child(3)::before {
      background-image: url(../images/features/computer.svg);
      display: block;
      content: '';
      width: 100%;
      height: 120px;
      background-color: $team-bg;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:nth-child(4)::before {
      background-image: url(../images/features/astronaut.svg);
      display: block;
      content: '';
      width: 100%;
      height: 120px;
      background-color: $team-bg;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

.title {
  font-weight: 700;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 10px;

  @media screen and(min-width:768px) {
    text-align: left;
  }

  &-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-color;
    @media screen and (max-width: 1200px) {
      font-size: 14px;
      line-height: 1.71429;
      letter-spacing: 0.03em;
    }
  }
}
