.hero {
  &-section {
    width: 100%;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../images/hero/hero_bg_2x.jpg");
    }

    @media screen and (min-width: 480px) {
      background-image: url("../images/hero/hero_768.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../images/hero/hero_768_2x.jpg");
      }
    }
    @media screen and (min-width: 769px) {
      background-image: url("../images/hero/hero_1200.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../images/hero/hero_1200_2x.jpg");
      }
    }

    .button {
      min-width: 200px;
      min-height: 50px;
      @extend %btn;
    }
  }
  &-heading {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 30px;
  }
}

@media (max-width: 1199px) {
  .hero-heading {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
