/* === PORTFOLIO ===*/
.portfolio-main {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width:1200px) {
    padding-bottom: 64px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      align-items: center;
      justify-content: left;
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1200px) {
      align-items: center;
      justify-content: center;
      margin-bottom: 0px;
    }

    .card-element {
      overflow: hidden;
      width: 100%;
      margin-bottom: 30px;
      @extend %transition;
      background: $white-color;
      border: 1px solid #eeeeee;
      box-sizing: border-box;

      &:first-child {
        margin-bottom: 66px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      @media screen and (min-width: 480px) {
        margin-bottom: 30px;
      }

      @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
        margin-right: 30px;

        &:nth-child(2n + 2) {
          margin-right: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      @media screen and (min-width: 1200px) {
        width: calc((100% - 60px) / 3);
        margin-right: 0;

        &:not(:nth-child(3n)) {
          margin-right: 30px;
        }
        &:first-child {
          margin-bottom: 30px;
        }

        &:last-child {
          margin-bottom: 30px;
        }
      }
      &:hover,
      &:focus {
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }

      &:hover .overlay,
      &:focus .overlay {
        transform: translateY(0);
        overflow: hidden;
      }
    }
  }
}
.card-img {
  max-width: 100%;
  /*   max-height: 294px;
 */
  position: relative;
  overflow: hidden;
  @extend %transition;

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 294px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 294px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $accent-color;

    transform: translatey(101%);
    @extend %transition;
    padding: 63px 24px;

    &-text {
      font-size: 18px;
      line-height: 1.556;
      letter-spacing: 0.03em;
      color: $white-color;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.card-title {
  display: inline;
  margin: 20px 24px;

  .img {
    padding-left: 24px;
    width: 100%;
    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $title-color;

      padding-top: 20px;
      padding-bottom: 4px;
      padding-left: 24px;
      padding-right: 24px;
      text-align: left;
      margin: 0px auto;
    }
    &-description {
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.03em;
      color: $text-color;
      padding-left: 24px;
      padding-right: 24px;
      text-align: left;
    }
  }
}
