.partners {
  fill: #afb1b8;

  &-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &-list-item {
    width: 210px;
    height: 90px;
    margin: 15px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    padding-top: 20px;
    &:hover,
    &:focus,
    &:hover .partners,
    &:focus .partners {
      border-color: $accent-color;
      fill: $accent-color;
    }
  }

  &-list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.partners-list-item {
  /*   display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px; */

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
