.address-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);

  &.map {
    color: $white-color;
    margin-top: 20px;
  }
}
