.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $hero-bg;

  & .container {
    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.wrapper {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      width: calc((100% - 30px) / 2);
    }
    &:last-child {
      width: 100%;
    }
  }
  @media screen and(min-width:1230px) {
    &:not(:last-child) {
      width: calc((50% - 45px) / 2);
    }
    &:last-child {
      width: 50%;
      margin-right: 0;
      margin-left: auto;
    }
  }
}
