.logo-footer {
  @extend %logo;
  color: $accent-color;

  span {
    color: $white-color;
  }
}

.footer {
  text-align: center;
}

.tablet-container {
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
