.social {
  &-section-footer {
    width: 206px;
    height: 44px;
    justify-content: center;
  }

  &-list-footer {
    display: flex;

    &-item-footer:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.1);
  @extend %transition;

  &:hover,
  &:focus,
  &:hover .social-icon,
  &:focus .social-icon {
    fill: $white-color;
    border: 1px solid $accent-color;
    background-color: $accent-color;
  }

  .social-icon-footer {
    fill: $white-color;
  }
}
