.join-us {
  &-section {
    width: 206px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;

    @media screen and (min-width: 768px) {
      margin: 0;
      margin-top: 15px;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  &-title {
    width: 206px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: center;
  }
}
