/* === FEATURES ===*/
.features.container{
  @extend %flex;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-list{
    display:inline-flex;
  
  }
  .visually-hidden{
    @extend %visually-hidden;
  }

  .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .title-text{
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $text-color;
    margin-top: 0;
    margin-bottom: 0;
  }

  .features-list-itemm{
    width: 170px;
    height: 90px;
    background-position: 50% 50%;
  }

   .features-list-item:nth-child(1)::before{
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color:$team-bg; 
    background-image: url(../images/SVG/antenna.svg);
     background-repeat: no-repeat;
    background-position: 50% 50%;
   } 
  
   .features-list-item:nth-child(2)::before{
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color:$team-bg;
    background-image: url(../images/SVG/clock.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  } 
  
   .features-list-item:nth-child(3)::before{
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color:$team-bg;
    background-image: url(../images/SVG/diagram.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  } 
  
  .features-list-item:nth-child(4)::before{
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color:$team-bg;
    background-image: url(../images/SVG/astronaut.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  } 

  
  /* === END FEATURES ===*/
  