/* ===FOOTER ===*/
.icon-Web-Studio-footer{
    width: 145px;
    height: 31px;
    padding:0;
    margin:0;
    margin-bottom: 20px;
    fill: $accent-color;

  }
  .footer{
    text-transform: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $address-color;
    background-color: $hero-bg;

    & .container{
      padding-top: 60px;
      padding-bottom: 60px;
      font-style: normal;
      
    }
  }

  // FOOTER ADDRESS
  .footer-logo{
    margin-bottom: 20px;
  }
  
  .address.map{
    color:$white-color;
    margin-bottom: 9px;
  }
  .address:not(:last-child){
    margin-bottom: 9px;
  }
  // ПРИСОЕДИНЯЙСЯ
  .footer-title{
    width: 145px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
  
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .subscribe{
  width: 206px;
  grid-template: 80px;
  margin-left: 70px;
  margin-right: 93px;
  margin-bottom: 20px;
  }
  
  
  .container-social{
    width: 206px;
    height: 44px;
    justify-content: center;

    &-team{
      margin: 0 auto;
    }
  }
  /*ul*/
  .social-list, .social-list-item{
    display: flex;
  }
 
  /*a*/
  .social-list-item-link-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $white-color;
    border: 1px solid transparent;
    fill: $white-color;
    background: $footer-social-bg;
    margin-right: 10px;
    transition: color, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    &:hover,
    &:focus{
    fill: $white-color;
    border: 1px solid $accent-color;
    background-color: $accent-color;
    transform: color, border, border-color;
  }
  }

  .social-list_svg-footer{
    width: 20px;
    height: 20px;
  }
  
  strong{
    display: inline-block;
    text-transform: uppercase;
  }
  .subscription{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $white-color;

    &-form{
      display: flex;
      justify-content: center;
    }
  }
 
   
  .subscription-form .colortext{
    display: inline-block;
    margin-top: 20px;
    width: 358px;
    height: 50px;
    border: 1px solid $address-color;
    border-radius: 4px;
    
  
  }
  
  .colortext{
    background-color: $hero-bg;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-top: 0;
  }
  input .colortext{
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px $box-shadow);
  border-radius: 4px;
  color: $white-color;
  }
  
  
  .sub.hero-btn{ 
    display: flex;
    color: $white-color;
    background-color: $accent-color;
    width: 200px;
    height: 50px;
  
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 29px;
    border-radius: 4px;
    margin-left: 12px;
    margin-bottom: 20px;
  
  }
  footer .hero-btn{ 
    display: flex;
    justify-content: center;
    vertical-align: middle;
    color: $white-color;
    background-color: $accent-color;
    width: 200px;
    height: 50px;
  
    
    padding: 10px 62px 10px 29px;
    vertical-align: middle;
    margin-left: 12px;
    margin-top: 20px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    color: $white-color;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    transform: translate 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  
  footer .hero-btn img{
    margin-left: 10px;
  }
  /* ===END FOOTER ===*/
  