/* === FORM === */
  input:hover, input:focus{
    border-color: $accent-color;
  }
  textarea:hover, textarea:focus{
    border-color: $accent-color;
  }
  
  .group{
    width: 528px;
    height: 581px;
  }
  
  .form-field{
    display: block;
    position: relative;
    overflow: hidden;
    &:hover, &:focus{
        border-color: $accent-color;
    }
  }
  
   .form-input{
    width: 448px;
    height: 40px;
    padding: 0;
    padding-left: 42px;
    padding-right: 42px;
    border-radius: 4px;
    border: 1px solid $input-border;  
    color: $accent-color;
    margin-bottom: 10px;
  } 
  
  .form-label{
    display: inline-block;
    position: absolute;
    top: 19%;
    left:0px;
    margin-left: 42px;

    .form-input:focus +&,
    .form-input:not(:placeholder-shown) +&{
        transform: translateY(-50px);
        fill: $accent-color;
        border-color:  $accent-color;
        color: $accent-color;
        cursor: pointer;
    
  }
  }
  .form-label.text{
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    margin:0;
    padding: 12px 16px;
    border: none;
    color: $text-color;

    .form-field:focus &{
        transform: translateY(-50px);
        color: $accent-color;
      }
  }
  
   
  .form-input:placeholder-shown{
    background-color: $white-color;
  }

  .icon{
    position: absolute;
    top:0;
    left:0;
    margin: 12px 15px;
  
    display: inline-block;
    width: 14px;
    height: 14px;
    .form-input:focus ~ &{
        fill: $accent-color;
      }
  }
  
  
  /*чтобы пользователь не увеличил поле*/
  .textarea-input{
    width: 448px;
    height: 120px;
    resize: none;
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid $input-border; 

    &:focus +.form-label.text,
    &:not(:placeholder-shown) +.form-label.text{
    transform: translateY(-50px);
    fill: $accent-color;
    border-color:  $accent-color;
    color: $accent-color;
    cursor: pointer;
  } 
  }
  
  /* Оставьте свои данные, мы вам перезвоним */
  .group-title{
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
  }
  
  .group-title-item{
    margin: 0;
    margin-bottom: 4px;
  }
  
  .checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    overflow: hidden;

    &::before{
        content:"";
        display:inline-block;
        border: 1px solid $checkbox-border;
        border-radius: 4px;
        width: 16px;
        height: 15px;
        margin-top: 3px;
        background-color: transparent;
        vertical-align: middle;
        
        transition: transform 250ms ease;
      }
    &::after{
        position:absolute;
        top: 2px;
        left: 0px;
        content:"";
        border: 1px solid $title-color;
        border-radius: 4px;
        display:inline-block;
        width: 16px;
        height: 16px;
        background-image: url(../images/SVG/icon-check.svg);
        transform: translatey( +35px);
        
        transition: transform 250ms ease;
      }
  }
  
  /* &::before{
    content:"";
    display:inline-block;
    border: 1px solid $checkbox-border;
    border-radius: 4px;
    width: 16px;
    height: 15px;
    margin-top: 3px;
    background-color: transparent;
    vertical-align: middle;
    
    transition: transform 250ms ease;
  } */
  /* .checkbox:hover::before{
    transform: translatey(-35px);
  } */
  
  /* &::after{
    position:absolute;
    top: 2px;
    left: 0px;
    content:"";
    border: 1px solid $title-color;
    border-radius: 4px;
    display:inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/SVG/icon-check.svg);
    transform: translatey( +35px);
    
    transition: transform 250ms ease;
  } */
  
  .checkbox:checked::after{
    transform: translatey(0);
  }
  
  .checkbox-text{
    margin-left: 23px;
  }
  /* === END CHECKBOX ===*/
  
  .contract-title{
    margin-bottom: 30px;
  }
  a.contract{
    color: $accent-color;
  }
  .form-button{
    @extend %button;
    margin: 30px 164px 40px 164px;
  }
  
  .form-input:focus,
  .form-input:hover,
  textarea:focus,
  textarea:hove, .checkbox:checked, .checkbox:focus{
    border-color: $accent-color;
  }
  /* ===CHECKBOX ===*/

  
   .label{
    display: inline;
    position: relative;
    top:0;
    left:0;
  }
  
  .checkbox-icon{
    margin: 0;
    width: 15px;
    height: 15px;
    border-radius: 4px;
  }
  
  .checkbox:checked +.icon{
   background-image: url(../images/SVG/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border: 2px solid $accent-color;
    border: none;
  }
  
  /* === END CHECKBOX ===*/
  
  /* === END FORM ===*/