a:visited{
  color: transparent;
}


%header{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
%flex{
  display: flex;
}

%link{
  padding: 25px 0;
  position: relative;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: $title-color;

&:hover, &:focus{
  fill: $accent-color;
  color: $accent-color;
  cursor: pointer;
}
}

%header__logo{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.6667;
  letter-spacing: 0.03em;
  color: $title-color;
}
%header{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.container{
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

/* === HEADER ===*/
.header{
  @extend %header;
  display: flex;
  justify-content: space-between;
  &__nav{
    display: flex;
    justify-content: space-between;
  }
}

.header__logo{
  @extend %header__logo;
  color:  $title-color;
  &-accent{
    @extend %header__logo;
    color: $accent-color;
  }
}

/* КНОПКА */
.menu-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid red;
  background-color: transparent;

  & .icon-cross{
    display: none;
  }
  &.is-open .icon-cross{
    display: block;
  }
  
  &.is-open .icon-menu{
    display: none;
  }
  @media screen and (min-width: 767px){
    &{
      display: none;
    }
  }
}

header{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list{
  display: flex;
  align-items: center;
  @extend %header;
  color: $title-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;

    &-item:hover, &-item:focus{
    color: $accent-color;
  }
  }

.link.current{
  color: $accent-color;
}

.link.current::after{
  display: block;
  content: "";
  margin-top: 28px;
  height: 4px;
  background-color:$accent-color;
  border-radius: 4px;
  position: absolute;
}

.contacts{
  font-size: 12px;
  line-height: 1.6667;
  letter-spacing: 0.02em;
  color: $text-color;
  &:hover, &:focus{
    color: $accent-color;
    fill: $accent-color;
  }
}

/* === END HEADER ===*/


@media screen and (min-width:480px){
  .container{
    width: 480px;
  }
}

@media screen and (max-width:767px){
  .navigation{
    display: none;
  }
}

@media screen and (min-width:768px) and(max-width: 1199px){
  .container{
    width: 768px;
  }
  .navigation{
    display: flex;
  }
  .nav-list-item:not(:last-child){
    margin-right: 50px;
  } 
  .nav-list-item:last-child{
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px){
  .container{
    width: 1600px;
    padding-left: 215px;
    padding-right: 215px;
    padding-top: 24px;
  }
  .navigation{
    display: flex;
    justify-content: center;
  }
  .nav-list-item:not(:last-child){
    margin-right: 50px;
  } 
  .address-item:not(:last-child){
    margin-right: 31px;
  }
  .address-list{
    display: flex;
    margin-left: 305px;
    align-items: center;
    margin-top: 7px;
  }
  
}