/* === HERO ===*/

  
  .hero-title{
    width: 696px;
    margin: auto auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
  
    margin-top: 0px;
    margin-bottom: 30px;
    position: relative;
    z-index:1;
  }
  
  .hero{
    position: relative;
    margin: auto auto;
    display: block;
    min-width: 1600px;
    height: 600px;
    object-fit: fill;
    background-image: linear-gradient(to right, $gradient-hero, $gradient-hero ), url(../images/hero.jpg);
    background-color: $hero-bg;
    background-repeat: repeat;
    text-align: center;
    padding: 200px 452px;
    background-position: 50% 50%;
    z-index:0;

    &.container{
      width: 1600px;
      background-color: $hero-bg;
      background-repeat: repeat;
    }
    :after{
      content:"";
      position: absolute;
      top:0;
      bottom:0;
      background-color: $gradient-hero;
    }
    >img{
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  
  .button{
    @extend %button;
  }
  
  /* === END HERO ===*/
  
  