/* === PARTNERS ===*/
.partners.container{
  padding-top: 94px;
  padding-bottom: 94px;
}

.partner-icon{
  justify-content: center;  
}

/*a*/
.partner-logo{
  width: 170px;
  height: 90px;
  border: 1px solid $partner-border;
  box-sizing: border-box;
  border-radius: 4px;
  fill: $partner-border;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  border-color: $accent-color;
  fill: $accent-color;
  transform: color;
}
}

/*li*/
.partner-list-item{
  display: flex;
  justify-content: space-between;

  &:not(:last-child){
    margin-right: 30px;
  }
}

.partner{
  display: block;
  width: 40px;
  height: 40px;
  margin: 22px 66px;
}

/*=== END PARTNERS ===*/