/* === WORKS ===*/
.works-img{
    display: block;
    width: 370px;
    height: 294px;
    position: relative;
    border: none;
    overflow: hidden;
  }
  .works-title{
    position: absolute;
    overflow: hidden;
    text-align: center;
    width: 370px;
    left:0;
    bottom:0;
    padding: 27px 82px;
    color: $white-color;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: $gradient-hero;
  }

  .heading{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color:$title-color;
    margin-bottom: 50px;
  }
  
  .works-list-item:not(:last-child),
  .team-list-item:not(:last-child){
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 0;
  }
  
  
  /* === END WORKS ===*/