.header {
  position: relative;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom: 1px solid #ececec;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
