.auth-link {
  @extend %link;
  @extend %transition;
  color: $text-color;

  &:hover .auth-icon,
  &:focus .auth-icon {
    fill: $accent-color;
  }
}

.auth-nav {
  margin-left: auto;

  & .list:not(:last-child) {
    margin-right: 50px;
  }
}

.auth-icon {
  align-items: center;
  margin-right: 10px;
  fill: $text-color;
  vertical-align: middle;

  @extend %transition;
}
