.social-list {
  display: flex;
  width: 206px;
  height: 44px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  .social-link {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    @extend %transition;

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
      background-color: $accent-color;
    }

    &:hover .social-icon,
    &:focus .social-icon {
      fill: $white-color;
    }

    .social-icon {
      fill: #afb1b8;
      @extend %transition;
    }
  }

  .social-item:not(:last-child) {
    margin-right: 10px;
  }
}
