  $text-color: #757575;
  $title-color: #212121;
  $accent-color: #2196F3;
  $white-color: #FFFFFF;
  $hero-bg: #2F303A;
  $main-bg: #E5E5E5;
  $team-bg: #F5F4FA;
  $header-bg: #ffffff;
  $address-color: rgba(255, 255, 255, 0.6);
  $partner-border: #AFB1B8;
  $backdrop: rgba(128, 128, 128, 0.5);
  $input-border: rgba(33, 33, 33, 0.2);
  $checkbox-border: rgb(163, 158, 158);
  $gradient-hero:  rgba(47,48,58,0.4);
  $box-shadow: rgba(0, 0, 0, 0.15);
  $footer-social-bg: rgba(255, 255, 255, 0.1);
