/* !=== WORK ===*/
.work-section {
  padding-bottom: 94px;

  .heading {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
  }
}

.work {
  &-list {
    display: flex;
  }
  &-item {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &-title {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
    margin: 0 auto;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $white-color;
  }
}
